<!doctype html>
<html class="no-js" ng-app="app" ng-controller="AppCtrl">
  <head>
    <meta charset="utf-8">
    <title ng-bind="pageTitle" > </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body >
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <nav class="navbar navbar-default bg-prmary" role="navigation">
    <!-- El logotipo y el icono que despliega el menú se agrupan
    para mostrarlos mejor en los dispositivos móviles -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse"
      data-target=".navbar-ex1-collapse">
      <span class="sr-only">Desplegar navegación</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" ui-sref="home"><strong>App </strong></a>
  </div>

    <!-- Agrupar los enlaces de navegación, los formularios y cualquier
    otro elemento que se pueda ocultar al minimizar la barra -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">

      <ul class="nav navbar-nav  navbar-left">
        <li class="dropdown" ng-repeat="row in Menu" ng-cloak ng-binding="row.name"  >
          <a  ui-sref="{{row.route}}" class="dropdown-toggle" data-toggle="dropdown" >
            <i class="{{row.icon}}"> </i>
            {{row.name}} <b ng-if="row.SubMenu" class="caret"></b>
          </a>
          <ul  class="dropdown-menu" >
            <li  ng-repeat="row in row.SubMenu" >
              <a ui-sref="{{row.route}}" >  
                <i class="{{row.icon}}"> </i>  {{row.name}} 
              </a>
            </ul>
          </li>
        </ul>
      </li> 
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-user"></i> Carlos Marcano  <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <li><a href="#"><i class="fa fa-gear"></i>  Perfil</a></li>
          <li class="divider"></li>
          <li><a href="#"><i class="fa fa-sign-out"></i> Salir</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<hr>
  <div class="container col-xs-12">
    <div class="col-xs-10" ui-view="main">
    </div>
  </div>
  <div class="footer">
    <div class="container">
    </div>
  </div>



  <script type="text/ng-template" id="SubMenu.html">

          <li class="dropdown">
             <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          SubMenu #1 <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
          <li><a href="#">Acción #1</a></li>
          </ul>s
          </li>
    </script>


    <script type="text/ng-template" id="Menu.html">
        <li class="dropdown" ng-repeat="row in Menu"  >
         <a  ui-sref="{{row.route}}" class="dropdown-toggle" data-toggle="dropdown" >
         <i class="{{row.icon}}"> </i>
        </li>
    </script>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
    <script src="bower_components/highcharts-ng/dist/highcharts-ng.js"></script>
   
    <!-- endbower -->
    <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/modules/home/home.js"></script>
    <script src="scripts/modules/user/user.js"></script>
    <script src="scripts/modules/config/config.js"></script>       
    <script src="scripts/modules/dashboard/dashboard.js"></script>  
    <script src="scripts/modules/managers/managers.js"></script>  
    <script src="scripts/modules/report/report.js"></script>        
    <script src="scripts/modules/reportObjects/reportObjects.js"></script>        
    <script src="scripts/modules/reportsParams/reportsParams.js"></script>  
    <script src="scripts/modules/table/table.js"></script>
    <script src="scripts/modules/connections/connections.js"></script>      
    <script src="scripts/modules/objects/objects.js"></script>   
    <script src="scripts/modules/reportEngine/reportEngine.js"></script>  
    <script src="scripts/modules/reportParamsObjects/reportParamsObjects.js"></script>  
    <script src="scripts/modules/reportTypes/reportTypes.js"></script> 
  <!-- endbuild -->

        
</body>
</html>
